.App-header{
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px auto;
}

.NavBar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBar ul li{
  list-style: none;
  margin: 0 15px;
}